<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="/css/static.css" />
    <title>Form completed - Tripetto</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>👌 Form completed!</h1>
        <h2>This link is not valid anymore.</h2>
        <p>The form is already completed!</p>
        <a href="/">Create your own form with Tripetto</a>
      </div>
    </div>
  </body>
</html>
