<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" type="text/css" href="/css/static.css" />
    <title>This link is invalid - Tripetto</title>
  </head>
  <body>
    <div class="container">
      <div class="content">
        <h1>🛑 Show stopper!</h1>
        <h2>This link is invalid.</h2>
        <p>The form you're trying to visit doesn't seem to work. Are you sure you're using the right link?</p>
        <a href="/">Create your own form with Tripetto</a>
      </div>
    </div>
  </body>
</html>
