<html>
  <body>
    <h1 style="font-size: 24px; color: #2c405a; line-height: 32px; margin: 0;">
      Form paused
    </h1>
    <p
      style="font-size: 16px; color: #3f536e; line-height: 24px; padding-top: 16px; padding-bottom: 16px;"
    >
      You took a break while filling out the form. Sweet!<br />
      Click the link below at any time to continue right where you left off.
    </p>
    <p>
      <% if (locals.link) { %>
      <a
        href="<%=link%>"
        style="font-size: 16px; color: #0093ee; text-transform: underline;"
        >Resume your form</a
      >
      🏄‍<% } %>
    </p>
    <p
      style="font-size: 15px; color: #8dabc4; line-height: 24px; padding-top: 16px; padding-bottom: 32px;"
    >
      If you did not make this request, you can safely ignore this email.
    </p>
    <%- include('partials/footer'); %>
  </body>
</html>
